@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* 
body {
  color: white;
} */

.gradiente {
  background: #1fb063;
  background: repeating-linear-gradient(
    to right,
    #1fb063 0%,
    #e873ff 36%,
    #3640cf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 3px 3px 8px rgba(139, 59, 168, 1); */
}

@font-face {
  font-family: "BRASIKA";
  src: url("../public/brasika-display-trial.otf");
}
